/*  
:root {
  --background: #d61919;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
/* Create font-face rules for the fonts used in the project */

/* example font-face rule for Roboto font: */

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400; /* Regular weight */
	src: local('Helvetica'), url('./fonts/Helvetica.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Oblique';
	font-style: oblique;
	font-weight: 400; /* Regular weight */
	src: local('Helvetica Oblique'),
		url('./fonts/Helvetica-Oblique.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Compressed';
	font-style: normal;
	font-weight: 400; /* Regular weight */
	src: local('Helvetica Compressed'),
		url('./fonts/helvetica-compressed.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Rounded';
	font-style: normal;
	font-weight: 700; /* Bold weight */
	src: local('Helvetica Rounded Bold'),
		url('./fonts/helvetica-rounded-bold.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700; /* Bold weight */
	src: local('Helvetica Bold'),
		url('./fonts/Helvetica-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Bold Oblique';
	font-style: oblique;
	font-weight: 700; /* Bold weight */
	src: local('Helvetica Bold Oblique'),
		url('./fonts/Helvetica-BoldOblique.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Light';
	font-style: normal;
	font-weight: 300; /* Light weight */
	src: local('Helvetica Light'),
		url('./fonts/helvetica-light.woff') format('woff');
}

/* TODO: FIND FONT AND MAKE FONT FAMILY TO BE USED THROUGHOUT PROJECT */

/* RESET */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: 400;
	color: black;
	overflow-x: hidden;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

html {
	height: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	height: 100vh;
	background: white;
	background: linear-gradient(135deg, #ffffff, #f7f6d3);
	background-size: 400% 400%;
	animation: gradientShift 20s ease infinite;
	position: relative;
	height: unset;
	overflow-x: hidden;
	overflow-y: visible;
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%; /* Start position */
	}
	50% {
		background-position: 100% 50%; /* Middle position */
	}
	100% {
		background-position: 0% 50%; /* Loop back to start */
	}
}

body::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../../public/images/backgrounds/broken-noise.png'); /* Use a tiny transparent noise PNG */
	opacity: 0.1;
	pointer-events: none;
	z-index: -1;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

/* STYLES */

a {
	all: unset;
	cursor: pointer;
	user-select: none;
}

.scroll-container {
	transform: translateY(0);
	will-change: transform;
}

/* SideScrolling Styles */

.panel {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0;
	background: #333;
	padding: 0;
	width: 100vw;
	height: 100%;
	text-align: center;
	color: white;
	font-size: 1.5em;
	font-weight: 600;
}

.container {
	display: flex;
	flex-wrap: nowrap;
	width: 500%;
	height: 100vh;
}
