.navContainer {
	margin: 2rem 2rem 4rem 2rem;
	display: flex !important;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* .navNameContainer{

}

.navNameFullSpan {
    
} */

.navNameFirst {
	font-weight: bold;
}

.navNameSecond {
}

.NavLinksContainer {
	display: flex;
	gap: 1rem;
}
