.navContainer {
	margin: 2rem;
	display: flex !important;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.navNameFirst {
	font-weight: bold;
}

.navNameSecond {
	font-family: 'Helvetica Light', Arial, sans-serif;
	font-weight: 300;
}

.NavLinksContainer {
	display: flex;
	gap: 1rem;
}

.navDivider {
	cursor: default;
	user-select: none;
}

.LanguageSelectorContainer {
	gap: 0.25rem;
}
